<!-- Header-->
<div class="p-3">
    <button type="button" [ngClass]="{'btn-success' : !showAddTask, 'btn-danger': showAddTask }" (click)="onToggle()" class="btn btn-success btn-lg">{{ btnText }}</button>
    <form *ngIf="showAddTask" class="border border-secondary p-3 mt-2 mb-4 rounded">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" [(ngModel)]="title" class="form-control" id="exampleInputEmail1" name="title" placeholder="title">
            <p *ngIf="title==''||title==undefined" class="text-danger">{{ errorMessage.title }}</p>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea [(ngModel)]="description" class="form-control" id="exampleFormControlTextarea1" name="description" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Images/TODO</label>
            <input type="text" [(ngModel)]="images1" class="form-control" id="exampleInputPassword1" name="images" placeholder="place image url">
            <input type="text" [(ngModel)]="images2" class="form-control" id="exampleInputPassword1" name="images" placeholder="place image url">
            <input type="text" [(ngModel)]="images3" class="form-control" id="exampleInputPassword1" name="images" placeholder="place image url">
            <p class="text-danger">{{errorMessage.images}}</p>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Coordination</label>
            <input type="text" [(ngModel)]="coordination" class="form-control" id="exampleInputPassword1" name="coordination" placeholder="coordination">
            <p *ngIf="coordination==''||coordination==undefined" class="text-danger">{{ errorMessage.coordination }}</p>
        </div>
        <div class="form-check">
            <input type="checkbox" [(ngModel)]="active" class="form-check-input" id="exampleCheck1" name="active">
            <label class="form-check-label" for="exampleCheck1">Active</label>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <select class="form-select" aria-label="Default select example">
                <option selected value="1">Pazar</option>
                <option value="2">Sarajevo</option>
                <option value="3">Beograd</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Level</label>
            <select class="form-select" [(ngModel)]="level" name="level" aria-label="Default select example">
                <option selected [value]="1">Znamenito</option>
                <option [value]="2">Veoma znamenito</option>
                <option [value]="3">Nezaobilazno</option>
            </select>
        </div>
            
        <button type="submit" (click)="saveZnamenitost()" class="btn btn-primary">Save</button>
    </form>
</div>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white d-flex flex-column align-items-center">
            <h1 class="display-4 fw-bolder text-small">ZnamenitostiAmar</h1>
            <p class="lead fw-normal text-white-50 mb-0">Pretrazi znamenitost</p>
            <form class="d-flex mt-4 flex-column flex-sm-row"  style="width:60%;">
                <input class="form-control me-sm-2" [(ngModel)]="search" name="searchInput" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" (click)="handleSearch(search)" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
  <!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-2">
        
        <div class="btn-group mb-5" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" (click)="handleLevel(1)" name="btnradio" id="btnradio1" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio1">Znamenito</label>
            <input type="radio" class="btn-check" (click)="handleLevel(2)" name="btnradio" id="btnradio2" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio2">Veoma znamenito</label>
            <input type="radio" class="btn-check" (click)="handleLevel(3)" name="btnradio" id="btnradio3" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio3">Nezaobilazno</label>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
            <div *ngFor="let znam of listaZnamenitosti" class="col mb-5">
                <div class="card h-100">
                    <button (click)="handleDelete(znam.id)" type="button" class="close" aria-label="Close">
                        <span class="text-danger" aria-hidden="true">&times;</span>
                    </button>
                    <img style="object-fit:cover; height:350px;" class="card-img-top" src="{{znam.images[1]}}" alt="..." />
                    
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ znam.title }}</h5>
                            Lat & Lon: {{ znam.coordination }}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Aktivnost</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-footer pb-4 pe-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/adminPage/znamenitosti/'+znam.id">Pregledaj</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>